<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="titulo-produtos">Produtos Cadastrados</h2>
    <button class="btn btn-success btn-add" (click)="irParaCadastro()">+ Adicionar Produto</button> <button class="btn btn-primary" (click)="exportarJSON()">Exportar JSON</button>
    <input type="file" #fileInput style="display: none;" (change)="importarJSON($event)" accept=".json" />
    <button class="btn btn-secondary" (click)="fileInput.click()">Importar JSON</button>
    <button class="btn btn-success" (click)="exportarExcel()">Exportar Excel</button>
    <input type="file" #fileInputExcel style="display: none;" (change)="importarExcel($event)" accept=".xlsx" />
    <button class="btn btn-secondary" (click)="fileInputExcel.click()">Importar Excel</button>

  </div>

  <div class="tabela-container">
    <div class="row mb-3">
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Buscar por nome"
               [(ngModel)]="filtro.nome">
      </div>
      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="filtro.categoria">
          <option value="">Todas as Categorias</option>
          <option *ngFor="let cat of categoriasUnicas" [value]="cat">{{ cat }}</option>
        </select>
      </div>
      <div class="col-md-3">
        <input type="date" class="form-control"
               [(ngModel)]="filtro.validade">
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary w-100" (click)="limparFiltros()">Limpar</button>
      </div>
    </div>
    <table class="table custom-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Marca</th>
          <th>Preço Venda</th>
          <th>Preço Custo</th>
          <th>Quantidade</th>
          <th>Validade</th>
          <th>Código de Barras</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of produtos | filtroProduto:filtro">
          <td>{{ p.nome }}</td>
          <td>{{ p.categoria }}</td>
          <td>{{ p.marca }}</td>
          <td>R$ {{ p.preco_venda | number:'1.2-2' }}</td>
          <td>R$ {{ p.preco_custo | number:'1.2-2' }}</td>
          <td>{{ p.quantidade }}</td>
          <td>{{ p.validade }}</td>
          <td>{{ p.codigo_barras }}</td>
          <td>
            <button class="btn btn-outline-danger btn-sm" (click)="excluirProduto(p.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
