<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="titulo-produtos">Produtos Cadastrados</h2>
    <button class="btn btn-success btn-add" (click)="irParaCadastro()">+ Adicionar Produto</button>
  </div>

  <div class="tabela-container">
    <table class="table custom-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Marca</th>
          <th>Preço Venda</th>
          <th>Preço Custo</th>
          <th>Quantidade</th>
          <th>Validade</th>
          <th>Código de Barras</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of produtos">
          <td>{{ p.nome }}</td>
          <td>{{ p.categoria }}</td>
          <td>{{ p.marca }}</td>
          <td>R$ {{ p.preco_venda | number:'1.2-2' }}</td>
          <td>R$ {{ p.preco_custo | number:'1.2-2' }}</td>
          <td>{{ p.quantidade }}</td>
          <td>{{ p.validade }}</td>
          <td>{{ p.codigo_barras }}</td>
          <td>
            <button class="btn btn-outline-danger btn-sm" (click)="excluirProduto(p.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
