
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a href="/">
        <img src="assets/images/logo-mercado.png" alt="Ícone do Mercado" class="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <a class="nav-link mx-5" href="login">Login</a>
          <a class="nav-link mx-5" href="#">Conheça</a>
          <a class="nav-link mx-5" href="#">Sobre</a>
        </div>
      </div>
    </div>
</nav>

<div class="image-banner">
  <div class="banner-texto">
    <h1>Seu estoque dentro do carrinho!</h1>
    <p>
      Gerencie produtos, acompanhe entradas e saídas, <br />
      e mantenha tudo sob controle com facilidade.
    </p>
    <button class="botao-banner">Começar agora</button>
  </div>
  <div class="banner-imagem">
    <img src="assets/images/img-lead2.png" alt="Estoque no carrinho" />
  </div>
</div>


<div class="container my-5 position-relative">
  <p class="fs-4 fw-bold">Planos</p>

  <!-- Container dos Cards -->
  <div #scrollContainer class="scrolling-cards d-flex overflow-auto gap-3 pb-3">
    <ng-container *ngFor="let plano of planos">
      <div class="card flex-shrink-0" style="width: 18rem; min-width: 250px;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ plano.titulo }}</h5>
          <p class="card-text">{{ plano.descricao }}</p>
          <a href="#" class="btn btn-primary mt-auto">Assinar</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
  
  

  
  