
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
</nav>

<img src="..." class="rounded float-end" alt="...">

<div class="container">
    <P>Planos Individuais</P> 
    <div class="row justify-content-center">
      <ng-container *ngFor="let card of [1, 2, 3]">
        <div class="col-md-4 mb-3 d-flex">
          <div class="card w-100">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional content.
              </p>
              <a href="#" class="btn btn-primary mt-auto">Go somewhere</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
</div>
  
<div class="container">
    <P>Planos para o grupo</P> 
    <div class="row justify-content-center">
      <ng-container *ngFor="let card of [1, 2, 3]">
        <div class="col-12 col-md-4 mb-3 d-flex">
          <div class="card h-100 w-100">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                Descrição do plano em grupo. Conteúdo pode ser diferente dos outros.
              </p>
              <a href="#" class="btn btn-success mt-auto">Assinar</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  

  
  