<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="logo">
    <img src="assets/images/logo-mercado.png" alt="Logo" />
    <span *ngIf="!isCollapsed">Name</span>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="bi" [ngClass]="isCollapsed ? 'bi-list' : 'bi-x-lg'"></i>
    </button>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/cadastro-produto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-plus-square"></i>
        <span *ngIf="!isCollapsed">Cadastrar Produto</span>
      </a>
    </li>
    <li>
      <a routerLink="/listagem-produtos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-card-list"></i>
        <span *ngIf="!isCollapsed">Listar Produtos</span>
      </a>
    </li>
  </ul>
</div>
