.sidebar {
  height: 100vh;
  width: 200px;
  background-color: rgba(0, 123, 255, 1);
  color: white;
  padding: 10px 5px;
  transition: width 0.3s;
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Modo colapsado */
.sidebar.collapsed {
  width: 60px;
}

/* LOGO + TOGGLE */
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 0 5px;
}

.logo img {
  width: 50px;
  height: auto;
}

.logo span {
  font-size: 1rem;
  font-weight: bold;
}

.logo .toggle-btn {
  margin: 0;
  font-size: 1.2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.collapsed .logo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar.collapsed .logo span {
  display: none;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Cada item */
.nav-links li {
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  white-space: nowrap;
  overflow: hidden;
}

/* Estilo do link */
.nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Ícones centralizados quando colapsado */
.sidebar.collapsed .nav-links li {
  justify-content: center;
}

.sidebar.collapsed .nav-links li a {
  justify-content: center;
  padding: 12px 0;
}

/* Esconde os textos ao colapsar */
.sidebar.collapsed .nav-links span {
  display: none;
}

/* Hover */
.nav-links li:hover {
  background-color: #39bddf;
}
