.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  app-menu {
    flex: 0 0 250px;
    transition: flex 0.3s ease;
  }
  
  .app-main {
    flex: 1;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    transition: margin-left 0.3s ease;
  }
  
  .app-container.collapsed app-menu {
    flex: 0 0 60px;
  }

  