<h2 class="text-2xl font-bold mb-6">Cadastro de Produto</h2>

<form (ngSubmit)="cadastrarProduto()" #produtoForm="ngForm" class="form-container">

  <!-- ... seus outros inputs ... -->

  <div class="codigo-container">
    <input type="text" placeholder="Código de Barras" [(ngModel)]="produto.codigo_barras" name="codigo_barras" class="form-input" />
    
    <button type="button" (click)="gerarCodigo()" class="btn-secundario">Gerar</button>
    <button type="button" (click)="toggleScanner()" class="btn-secundario">Escanear</button>
  </div>

  <div *ngIf="showScanner" class="scanner-box">
    <zxing-scanner
      [start]="true"
      [formats]="['EAN_13', 'EAN_8']"
      (scanSuccess)="onCodeResult($event)">
    </zxing-scanner>
    <button type="button" class="btn-secundario mt-2" (click)="toggleScanner()">Fechar Scanner</button>
  </div>

  <div class="botao-salvar">
    <button type="submit" class="btn-primario">Salvar</button>
  </div>
</form>
